assets/crown/textures/custom/_font/.DS_Store
assets/crown/textures/custom/dd/.DS_Store
assets/mcc/font/.DS_Store
assets/mcc/textures/event_interface/.DS_Store
assets/mcc/textures/event_interface/generic/.DS_Store
assets/mcc/textures/event_interface/generic/teams/.DS_Store
assets/mcc/textures/event_interface/social/.DS_Store
assets/mcc/textures/global_base/.DS_Store
assets/minecraft/shaders/.DS_Store
assets/minecraft/sounds/.DS_Store
assets/minecraft/textures/font/ui/.DS_Store
